{{ form_start(form, {'attr': {'class': ''}})}}
        <!-- pseudo -->
        <div class="form-group mb-3">
            {{ form_label(form.pseudo, 'Pseudo', {'attr': {'for': 'pseudo', 'class': 'form-label'}}) }}
            {{ form_widget(form.pseudo, {'attr': {'id': 'pseudo', 'class': 'form-control'}}) }}
            {{ form_errors(form.pseudo) }}
        </div>

        <!-- password -->
        <div class="form-group mb-3">
            {{ form_label(form.password, 'Mot de passe', {'attr': {'for': 'pseudo', 'class': 'form-label'}}) }}
            {{ form_widget(form.password, {'attr': {'id': 'pseudo', 'class': 'form-control'}}) }}
            {{ form_errors(form.password) }}
        </div>

        <!-- mail -->
        <div class="form-group mb-3">
            {{ form_label(form.mail, 'E-mail', {'attr': {'for': 'pseudo', 'class': 'form-label'}}) }}
            {{ form_widget(form.mail, {'attr': {'id': 'pseudo', 'class': 'form-control'}}) }}
            {{ form_errors(form.mail) }}
        </div>

        <!-- code_postal -->
        <div class="form-group mb-3">
            {{ form_label(form.code_postal, 'Code postal', {'attr': {'for': 'pseudo', 'class': 'form-label'}}) }}
            {{ form_widget(form.code_postal, {'attr': {'id': 'pseudo', 'class': 'form-control'}}) }}
            {{ form_errors(form.code_postal) }}
        </div>

        <!-- lastName -->
        <div class="form-group mb-3">
            {{ form_label(form.lastName, 'Nom', {'attr': {'for': 'pseudo', 'class': 'form-label'}}) }}
            {{ form_widget(form.lastName, {'attr': {'id': 'pseudo', 'class': 'form-control'}}) }}
            {{ form_errors(form.lastName) }}
        </div>

        <!-- firstName -->
        <div class="form-group mb-3">
            {{ form_label(form.firstName, 'Prenom', {'attr': {'for': 'pseudo', 'class': 'form-label'}}) }}
            {{ form_widget(form.firstName, {'attr': {'id': 'pseudo', 'class': 'form-control'}}) }}
            {{ form_errors(form.firstName) }}
        </div>

        <!-- role a mettre automatiquement sur user -->

        <!-- Validation -->
        <button class="btn btn-success" type="submit">{{ button_label|default('Valider') }}</button>

{{ form_end(form) }}
