{% extends 'base.html.twig' %}

{% block title %}Modifier carte{% endblock %}

{% block body %}

	{% include "reusable/header.html.twig" %}
	<main class="center">
		<div class="containerAjout">
		<h1 style="color: white;">modifier la carte</h1>
		{{ form_start(form, {'attr': {'class': 'formTab'}})}}
			<div class="card text-white bg-dark" style="width: 20rem;">
			  	<div class="imgTab card-img-top center" style="border-bottom: 3px solid white;">
						<div class="backImg center" id="recup">
							{{ form_row(form.imageFile, {'label': label, 'attr': {'class': 'image-file', 'onchange': "previewImage(event, 'imagePreview')"}}) }}
                            {% if onglet.imgName == null %}
                            	<img src="../img/Aucune image.png" alt="Aucune image selechtionner" id="imagePreview" style="width:100%; height:50%; 
							    	position:absolute; left:105%;
							    	border: 3px solid white;">
                            {% else %}
                                <img src="{{ vich_uploader_asset(onglet, 'imageFile')}}" alt="Image de la carte" id="imagePreview" 
                                    style="width:150%; height:50%; 
							    	position:absolute; left:105%;
							    	border: 3px solid white;">
                            {% endif %}
						</div>
						
				</div>
			  <div class="card-body">		
				{{form_label(form.title, 'Titre de la description', {'attr': {'class': 'colorDefault'}}) }}
				{{ form_widget(form.title, {
						'attr': {'placeholder': 'Le titre ne doit pas dépasser les 50 caractères', 
				}})}}
				<div class="error" style="padding-right: 20px">
					{{ form_errors(form.title)}}
				</div>
					{{form_label(form.description, 'Description du projet', {'attr': {'class': 'colorDefault'}}) }}
					{{ form_widget(form.description, {
							'attr': {'placeholder': 'Entrer une description', 
							'class': 'DescriptionInput textTab'
					}})}}
                    <button class="btn btn-success m-4">{{ button_label|default('Valider') }}</button>
                <div class="row-flex mx-2">
                    <a href="{{ path('app_index') }}" class="btn btn-primary mx-2">retour en arrière</a>

                    {{ include('onglet/_delete_form.html.twig') }}
                </div>
			  </div>
			</div>
		{{ form_end(form) }}
		</div>
	</main>

{% endblock %}
