<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/reset.css') }}">
            <link rel="stylesheet" href= "{{ asset('build/css/general.css?v=1.4') }}">
            <link rel="stylesheet" href= "{{ asset('build/css/form.css?v=1.5') }}">
            <link rel="stylesheet" href= "{{ asset('build/css/tab.css?v=1.3') }}">
            <link rel="stylesheet" href= "{{ asset('build/css/admin.css?v=1.0') }}">
            <link rel="stylesheet" href="{{ asset('build/bootstrap/css/bootstrap.css') }}">
        {% endblock %}


    </head>
    <body>     
        {% block body %}
        {% endblock %}


        {% block javascripts %}
            <script src="{{ asset('build/bootstrap/js/bootstrap.js') }}"></script>
            <script src="{{ asset('build/js/standard.js?v=1.0') }}"></script>
        {% endblock %}
    </body>
</html>
