
        	
			<div class="">
				<!-- navigateur onglet-->
						<nav class="tabNav row-flex">
							<ul class="nav nav-tabs navTab ">
								<li class="tabActive">

								</li>
								{% for onglet in onglets %}
								<li class="liTab" onclick="changeClassName(this, '{{ onglet.id }}')">
									<h5>{{ onglet.Title }}</h5>
								</li>
								{% endfor %}
								<!--<h5>Nouveau projet</h5>-->
							</ul>
							<button class="btn btn-success ajout" href="">+</button>
						</nav>
				{{ form_start(form, {'attr': {'class': 'formTab'}})}}
				<!--   formulaire   -->
						<div class="grpgrp">
							<div class="contentTab row-flex">
							<!-- texte de l'onglet-->
								<!-- contenu en base de données-->
								<div class="row-flex" style="width: 100%;height:100%">
										{{ include('reusable/tabContent.html.twig') }}
								</div>
								<!-- Formulaire onglet -->
								<div class="row-flex" style="width: 100%;" id="formTab" hidden>
										{{ include('reusable/tabFinal.html.twig')}}
								</div>
							</div>
						</div>
			</div>
        	{{ form_end(form) }}

