
								<div class="center column-flex" id="form-container">
								<!-- Input et textArea de l'onglet-->
									{{form_label(form.title, 'Titre de la description', {'attr': {'class': 'colorDefault'}}) }}
									{{ form_widget(form.title, {
											'attr': {'placeholder': 'Entrer le titre de la description', 
											'class': ''
									}})}}
										{{form_label(form.description, 'Description du projet', {'attr': {'class': 'colorDefault'}}) }}
										{{ form_widget(form.description, {
												'attr': {'placeholder': 'Entrer une description', 
												'class': 'DescriptionInput textTab'
										}})}}
									<button class="btn btn-success m-4">{{ button_label|default('Valider') }}</button>
								</div>
							<!-- Image du projet -->
								<div class="imgTab">
									<div class="center">
										<div class="backImg">
											{{ form_row(form.imageFile) }}
										</div>
									</div>
								</div>
